*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*index*/
#fondo_principal{
	background-image: url("../img/fondo_index.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	}

#logo{
	margin-top: 69px;
    height: 160px;
    width: 250px;
}
#seccion-botones{
	position: absolute;
	bottom: 20px;
	width: 100%;
}

#boton_login{
	background: none;
    border: 2px solid;
}

#boton_signup{
	background-image: url("../img/fondo_singup.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    overflow: overlay;
}

/*singup*/
#icono_atras{
	font-size: 8em;
	cursor: pointer;
}

#contenedor-ingresetelefono{
	border-top: 2px solid gray;
}

#extralarge{
	padding: 30px 80px 30px 80px;
}