*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#contenedor{
	background-image: url("../img/fondo_index.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
    overflow: overlay;
}

#logo{
	margin-top: 69px;
    height: 160px;
    width: 250px;
}
#seccion-botones{
	margin-top: 444px;
}

#boton_login{
	background: none;
    border: 2px solid;
}

#boton_signup{
	background-image: url("../img/fondo_singup.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    overflow: overlay;
}

