*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
/*index*/
#fondo_principal{
	background-image: url("../img/fondo_index.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
  overflow: overlay;
}

#logo{
  height: 13vh;  
}

#contenedor-botones{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#boton_login{
	background: none;
  border: 2px solid;
  border-radius: 10px;
}

#boton_signup{
	background-image: url("../img/fondo_singup.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  border-radius: 10px;
 
}	
.contenedor-index{
    height: inherit;
    position: relative;
}
/*singup*/
#icono_atras{
	cursor: pointer;
  color: black;
}
#seccion-atras{
  position: absolute;
  top: 1.3vh;
}

.contenedor-btnNext{
	position: absolute;
  bottom: 0;
  width: 100vw;
}

#btn-next, #btn-next-codigo, #btn-next-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EA0B8C;

}

/*codigo.html*/
#resend_code{
  background: none;
  border: 2px solid gray;
  border-radius: 10px;
  color: black;
}

#lab{
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

/*centrar y alargar boton
    display: flex;
    align-items: center;
    justify-content: center;
*/

/*celular codigo.js*/
#codigo, #fono{
  display: inline-block;
}

/*perfil.html*/
.botones_perfil{
    position: absolute;
    top: 20px;
    right: 2px;
}

#btn-edit{
  margin-left: 22px;
  padding: 0 1rem;
}
#joined-perfil{
  background-color: rgba(203, 221, 230, 1);
  border-radius: 5px;
  padding: 9px 0 9px 0;
  color: rgba(68, 116, 141, 1);
}

/*mapa.html*/
#mapa{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

#contenedor-cabecera-mapa{
  margin-top: 4vh;
  position: absolute;
  z-index: 2;
  width: 100vw;
}
#contenedor-iconos{
    height: 95vh;
    position: relative;
}

#logo-mapa{
  height: 9vh;
}

#formulario-mapa{
  position: absolute;
  bottom: 0;
  left: 0;
}

#sinmargen{
    margin-left: 0;
    margin-right: 0;
}
.color-blanco {
  color: white !important;
}
.color_negro{
  color: black !important;
}

.boton-pickup{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

/*media queries*/
@media screen and (max-width:600px){
 .titulo-codigo{
  font-size: 10vw;
}
 
}



 



